body {
    margin: 0;
    padding: 0;
}

/* Header */

.header-container {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0px 83px;
    justify-content: space-between;
}

.logoLink {
    text-transform: uppercase;
    color: rgba(24, 28, 41, 1);
    cursor: pointer;
    align-items: center;
    padding: 8px 20px;
    display: flex;
    font-size: 12px;
    font-weight: 600;
    line-height:  130%;
    gap: 5px;
    height: 24px;
    text-decoration: none;
}

.nav-item {
    width: 56px;
    text-transform: uppercase;
    color: rgba(24, 28, 41, 1);
    cursor: pointer;
    align-items: center;
    padding: 12px 20px;
    display: flex;
    font-size: 12px;
    font-weight: 600;
    line-height:  130%;
    letter-spacing:  5%;
}

.nav-item a {
    text-decoration: none;
}

.header-home {
    width: 1440px;
    height: 63px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}

.nav-ul {
    display: flex;
    list-style: none;
    padding: 0;
}

/* Hero */

.main-home {
    width: 1440px;
    height: 584px;
    margin: 0 auto;
    border-radius: 20px 20px 0px 0px;
    background-color: #FF4646;
    background-image: url('./asserts/bg-ball.png'), url('./asserts/bg-snow.png');
    background-size: cover;
    background-position-y: -40px;
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
}

.main-text-container {
    width: 433px;
    height: 345px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-button {
    width: 235px;
    height: 56px;
    border-radius: 20px;
    background-color: #181C29;
    color: #FFFFFF;
    cursor: pointer;
    border: none;
    transition: all .5s;
    margin-bottom: 11px;
}

.main-button:hover {
    background-color: #FFFFFF;
    color: #181C29;
}

.main-tittle {
    text-align: center;


}

.about-home {
    width: 1440px;
    height: 648px;
    margin: 0 auto;
    background-image: url('./asserts/bg-snow.png');
    background-size: cover;
    background-color: #FF4646;
}

.about-content {
    width: 1276px;
    height: 528px;
    margin: 0 auto;
    background-color:#FFFFFF;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.about-img {
    border-radius: 20px;
}

.about-text {
    max-width: 426px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 60px;
}

/* Slider */

.slider-home {
    width: 1440px;
    height: 488px;
    margin: 0 auto;
    background-image: url('./asserts/bg-snow.png');
    background-size: cover;
    background-color: #FF4646;
    display: flex;
    align-items: center;
    overflow: hidden;
    flex-direction: column;
}

.slider-content {
    width: 1276px;
    height: 275px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.slider-container {
    max-width: 426px;
    height: 72px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 21px;
}

.slider-row {
    width: 1276px;
    height: 200px;
    display: flex;
    align-items: center;
}

.slider-img {
    width: 200px;
    height: 200px;
    margin: 0 20px;
    border-radius: 20px;
}

.slider-controls {
    height: 56px;
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}

.slider-button {
    width: 56px;
    height: 56px;
    border-radius: 20px;
    color: #FFFFFF;
    border: solid 1px #FFFFFF;
    transition: all .2s;
    background: inherit;
    cursor: pointer;
    background-image: url('/christmas-shop/asserts/arrow-right.svg');
    background-repeat: no-repeat;
    background-position: center;

    &.left {
        transform: rotate(180deg)
    }
}

.slider-button.disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.slider-button.disabled:hover {
    opacity: 0.6;
    background: inherit;
    background-image: url('/christmas-shop/asserts/arrow-right.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.slider-button:hover {
    background: #FFFFFF;
    background-image: url('/christmas-shop/asserts/arrow-right-hover.svg');
    background-repeat: no-repeat;
    background-position: center;
}

/* Gifts */

.gifts-home {
    width: 1440px;
    height: 554px;
    margin: 0 auto;
    background-image: url('./asserts/bg-snow.png');
    background-size: cover;
    background-color: #FF4646;
}

.gifts-conteiner {
    width: 1276px;
    height: 434px;
    margin: 0 auto;
    border: 1px solid;
}

.gifts-title {
    width: 426px;
    height: 72px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    justify-content: space-between;
}

.home-gifts-cards-container {
    width: 1276px;
    height: 342px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.gift-card {
    width: 310px;
    height: 342px;
    background-color: #ECF3F8;
    border-radius: 20px;
}

.img-card {
    max-width: 310px;
}

.description-gift {
    max-width: 310px;
    height: 75px;
    border-radius: 20px;
    background-color: #FFFFFF;
    padding: 16px 20px;
    display: flex;
    flex-direction: column;
    gap: 9px;
}

/* CTA */

.cta-home {
    width: 1440px;
    height: 608px;
    margin: 0 auto;
    background-image: url('./asserts/bg-forest.png'), url('./asserts/bg-snow.png');
    background-size: 1440px 668px;
    background-size: cover;
    background-position-y: -60px;
    background-repeat: no-repeat;
    background-color: #FF4646;
    display: flex;
    border-radius: 0px 0px 20px 20px;
}

.cta-container {
    width: 426px;
    height: 428px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}

.timer-container {
    width: 344px;
    height: 72px;
    background-color: #FFFFFF40 ;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    color: #FFFFFF;
    align-items: center;
    margin-top: 6px;
}

.timer-container > div:nth-child(1) {
    padding-left: 13px;
}
.timer-container > div:nth-child(4) {
    padding-right: 10px;
}


.timer-cell {
    width: 80px;
    height: 52px;
    text-align: center;
}

.cta-title {
    color: #FFFFFF;
    text-align: center;
}

/* Footer */

.footer {
    width: 1440px;
    height: 496px;
    margin: 0 auto;
}

.footer-container {
    width: 1276px;
    height: 376px;
    margin: 0 auto;
    padding-top: 60px;
}

.footer-cards-contaner {
    height: 204px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 10px;
}

.footer-card {
    border-radius: 20px;
    background-color: #ECF3F8;
    height: 204px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
    transition: all .3s;
}

.footer-card:hover {
    color: #FF4646;
}

.footer-links {
    width: 301px;
    margin: 0 auto;
    padding-top: 67px;
    
}

.socials {
    display: flex;
    justify-content: center;
    gap: 28px;
    margin-bottom: 20px;
}

.school {
    cursor: pointer;
    color: #181C29;
    transition: all .3s;
    padding-left: 5px;

    &:hover {
        color: #FF4646;
    }
}

.svg-icon { 
    cursor: pointer;
    transition: stroke 0.3s ease;
    stroke: #181C29;
} 

.svg-icon:hover path { stroke: #FF4646;
}


/* Text */

.h1 {
    font-family: Montserrat;
    font-size: 32px;
    font-weight: 600;
    line-height:  150%;
    letter-spacing: 0.18em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 13px;
    margin-bottom: 12px;
}

.h2 {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    line-height:  152%;
    letter-spacing: 0.16em;
    text-transform: uppercase;
}

.h3 {
    margin: 0;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    line-height:  152%;
    letter-spacing: 0.08em;
    text-transform: uppercase;
}

.h4 {
    margin: 0;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 600;
    line-height:  130%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

.p {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height:  148%;
}

.caption {
    font-family: Allura;
    font-size: 24px;
    font-weight: 400;
    line-height:  100%;
    letter-spacing: 0.05em;
}

.action-small {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 600;
    line-height:  130%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

.action-large {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    line-height:  152%;
    letter-spacing: 0.16em;
    text-transform: uppercase;
}

.slider-text {
    font-family: Montserrat;
    font-size: 80px;
    font-weight: 600;
    text-transform: uppercase;
    color: #FFFFFF;
}